html
  head
    title= title
    link(href="style.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.1.0.min.js")    
    script.
      $(function() {
      })
  body
    h1= message
    p about this server
    p this is nqm-databot-minimal-server
