extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.header.center.orange-text about
      .row.center
        h5.header.col.s12.light #{title + " " + message}
      .row.center
      br
      br
