html
  head
    title= title
    link(href="style.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.1.0.min.js")    
    script.
      $(function() {
        alert("hello");
      })
  body
    h1= message
    img(src="images/bg.jpg")
